<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>ATN Management</title>
        <link href="../template/css/bootstrap.min.css" rel="stylesheet">
        <link href="../template/css/sidebarnav.css" rel="stylesheet">
        <link href="../template/css/jquery.mCustomScrollbar.min.css" rel="stylesheet">
        <script src="../template/javascript/bootstrap.min.js"></script>
        <script src="../template/javascript/jquery-3.5.1.slim.min.js"></script>
        <script src="../template/javascript/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="../template/javascript/popper.min.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>ATN Company</h3>
                </div>
                <ul class="list-unstyled components">
                    <p></p>
                    <li class="active">
                        <a href="/login">Login</a>
                    </li>
                </ul>
            </nav>
        </div>
    </body>
</html>
