{% extends 'homemenu.html' %}
{% block title %}Shop List{% endblock %}
{% block nav %}
<li>
    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Products</a>
    <ul class="collapse list-unstyled" id="pageSubmenu">
        <li>
            <a href="/product">Products View</a>
        </li>
        <li>
            <a href="/addproduct">Add Product</a>
        </li>
        <li>
            <a href="/updateproduct">Update Product</a>
        </li>
        <li>
            <a href="/deleteproduct">Delete Product</a>
        </li>
    </ul>
</li>
<li>
    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Orders</a>
    <ul class="collapse list-unstyled" id="pageSubmenu">
        <li>
            <a href="/order">Order View</a>
        </li>
        <li>
            <a href="/addorder">Add Order</a>
        </li>
        <li>
            <a href="/updateorder">Update Order</a>
        </li>
        <li>
            <a href="/deleteorder">Delete Order</a>
        </li>
    </ul>
</li>
{% endblock %}
{% block content %}
<div class="jumbotron">
    <h1>ATN Company - Shop manager</h1>
</div>
{% endblock %}