{% extends 'homemenu.html' %}
{% block title %}Shop List{% endblock %}
{% block nav %}
<li>
    <a href="/summary">Summary Report</a>
</li>
<li>
    <a href="/todayorder">Today Orders</a>
</li>
<li>
    <a href="/staff">View Staff</a>
</li>
{% endblock %}
{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Staff ID</th>
            <th>Fullname</th>
            <th>Department</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        {% for staff in  List %}
        <tr>
            <th>{{ staff["StaffID"] }}</th>
            <th>{{ staff["FullName"] }}</th>
            <th>{{ staff["Department"] }}</th>
            <th>{{ staff["Role"] }}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}